/* Home.css */

/* General body and layout styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #003B5C, #ffffff);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Makes the content stack vertically */
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  flex-grow: 1;
  justify-content: flex-start;
}

/* Background Image */
.background-image {
  background-image: url('Books.jpg'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;

  top: 0;
  left: 0;
  z-index: -1;
  filter: none !important;
  background-color: transparent !important;
}

/* Main Content */
.content {
  padding: 20px;
  flex-grow: 1;
}

/* Header */
header {
  text-align: center;
  padding: 30px 0;
  height: 10%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  margin: 0;
}

/* Intro Blurb */
.intro-blurb {
  color: white;
  text-shadow: 10px 10px 20px black;
  text-align: center;
  width: 50%; /* Reduced width for better readability */
  height: 225px;
  margin: auto;
}

/* Form Styling */
.filters {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  flex-grow: 1;
  justify-content: flex-start;
  width: 15%;
  margin: auto;
}

/* Table Styling */
table, th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

/* Make Dark mode not affect background image */
.dark-mode .background-image {
  filter: none !important;
}

